html,
body {
	height: 100%;/*sticky footer*/
	display: flex;/*sticky footer*/
	flex-direction: column;/*sticky footer*/
	margin: 0;
	font-size: 22px;
	line-height: 1;
	font-weight: 500;
	font-family: 'Gilroy';
	color: #1A1A1A;
}
body > * {
	flex-shrink: 0;
	/*sticky footer*/
  }
.footer{
	margin-top: auto;/*sticky footer*/
}
button{
	cursor: pointer;
}
.container{
	max-width: 1533px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}


