.materials {
    padding: 75px 0 75px;
    position: relative;
    z-index: 20;
}

.materials__title {
    margin-bottom: 40px;
    font-size: 75px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
}
.materials__subtitle {
    margin-bottom: 95px;
    font-size: 32px;
    text-align: center;
}
.materials-box {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}
.materials-box__item {
    max-width: 474px;
    padding: 35px;
    border: 1px solid #dbd9d9;
    border-radius: 30px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.materials-box__item + .materials-box__item{
    margin-left: 35px;
}
.materials-box__item-img {
    margin-bottom: 63px;
}
.materials-box__item-title {
    margin-bottom: 40px;
    font-size: 43px;
    line-height: 45px;
}
.materials-box__item-text {
    margin-bottom: 30px;
    color: #808080;
}
.materials-box__item-link {
    color: $blue;
    font-size: 17px;
    position: relative;
}
.materials-box__item-link::after{
    position: absolute;
    content: '';
    width: 30px;
    height: 15px;
    background: url('../images/material/arrows.png') no-repeat;
    top: 6px;
    right: -65px;
}


// CERTIFICATE
.certificate {
    padding: 60px 0 60px;
    background-color: $blue;
}

.certificate__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.certificate__box-title {
    margin-bottom: 80px;
    font-size: 75px;
    line-height: 1;
    color: $white;
}
.certificate__box-btn {
    width: 310px;
    width: 100%;
    padding: 17px 35px;
    background-color: $white;
    color: $blue;
    border-radius: 40px;
}

@media(max-width:1050px){
    .materials-box{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .materials-box__item+.materials-box__item {
        margin-left: 0px;
    }
}
@media(max-width:1100px){
    .certificate__box{
        flex-direction: column;
    }
    .certificate__box-img{
        margin-top: 30px;
    }
    .certificate__box-title{
        margin-bottom: 20px;
        font-size: 24px;
        text-align: center;
    }
    .certificate__box-btn{
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width:560px){
    .materials__title{
        font-size: 24px;
        margin-bottom: 15px;
    }
    .materials__subtitle{
        margin-bottom: 20px;
        font-size: 18px;
    }
    .materials{
        padding: 30px 0 30px;
    }
    .materials-box__item-title{
        margin-bottom: 15px;
        font-size: 18px;
    }
    .materials-box__item-text{
        font-size: 16px;
        margin-bottom: 15px;
    }
    .materials-box__item-img {
        margin-bottom: 23px;
    }
    .materials-box__item{
        padding: 20px;
    }
}